<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.myframework">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".application.EasyFrameApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--配置glide图片框架的内存缓存和磁盘缓存规则-->
        <meta-data
            android:name="demo.myframework.common.CustomCachingGlideModule"
            android:value="GlideModule" />
        <!--配置glide图片框架的内存缓存和磁盘缓存规则-->
    </application>

</manifest>